<a href="https://colab.research.google.com/github/busung/machine-learning-practice/blob/main/scikit_learn_%EA%B0%84%EB%8B%A8%ED%95%9C_%EC%8B%A4%EC%8A%B5(%EC%86%8C%EC%9B%A8%EC%9C%B5_4%EC%A3%BC%EC%B0%A8).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Scikit learn
* 실무에서 사용하는 파이썬 패키지

## version

In [4]:
import sklearn
sklearn.__version__

'1.0.1'

## 데이터 불러오기

In [9]:
from sklearn.datasets import load_iris,load_boston

In [7]:
iris = load_iris()

In [8]:
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [13]:
print(iris.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [10]:
boston = load_boston()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [11]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

## 데이터 분리

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train,x_test,y_train,y_test = train_test_split(iris.data,iris.target)

In [17]:
x_train.shape

(112, 4)

In [19]:
x_test.shape

(38, 4)

## 학습
* tree classification
* ridge

In [20]:
from sklearn.tree import  DecisionTreeClassifier
from sklearn.linear_model import RidgeClassifier

In [21]:
dt = DecisionTreeClassifier()
dt.fit(x_train,y_train)

DecisionTreeClassifier()

In [22]:
rc = RidgeClassifier()
rc.fit(x_train,y_train)

RidgeClassifier()

## 예측

In [30]:
dt_pred = dt.predict(x_test)

In [29]:
rc_pred = rc.predict(x_test)

## 평가

In [26]:
from sklearn.metrics import accuracy_score

In [31]:
accuracy_score(y_test,dt_pred)

0.9473684210526315

In [32]:
accuracy_score(y_test,rc_pred)

0.868421052631579

# 타이타닉 생존자 분석

## 데이터 전처리
* train,tatget 분리
* train,test 분리
* 불필요 데이터 없애기

In [66]:
!wget https://raw.githubusercontent.com/pcsanwald/kaggle-titanic/master/train.csv

--2021-12-29 15:31:14--  https://raw.githubusercontent.com/pcsanwald/kaggle-titanic/master/train.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 57726 (56K) [text/plain]
Saving to: ‘train.csv.2’

train.csv.2         100%[===================>]  56.37K  --.-KB/s    in 0.003s

2021-12-29 15:31:14 (15.8 MB/s) - ‘train.csv.2’ saved [57726/57726]

In [67]:
import pandas as pd

In [68]:
titanic = pd.read_csv("train.csv")

In [69]:
#불필요행 드랍
titanic = titanic.drop("name",axis=1)
titanic = titanic.drop("ticket",axis=1)
titanic = titanic.drop("cabin",axis=1)
titanic = titanic.drop("embarked",axis=1)

In [70]:
#성별 int로 전환
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le = le.fit(titanic["sex"])
titanic["sex"]=le.transform(titanic["sex"])

In [81]:
titanic["age"].fillna(titanic["age"].mean(),inplace=True)

In [82]:
y_df = titanic['survived']
x_df = titanic.drop("survived",axis=1)

In [83]:
y_df.head()

0    0
1    1
2    1
3    1
4    0
Name: survived, dtype: int64

In [84]:
x_df.head()

   pclass  sex   age  sibsp  parch     fare
0       3    1  22.0      1      0   7.2500
1       1    0  38.0      1      0  71.2833
2       3    0  26.0      0      0   7.9250
3       1    0  35.0      1      0  53.1000
4       3    1  35.0      0      0   8.0500

In [85]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x_df,y_df)

## 학습

In [86]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import RidgeClassifier

In [87]:
dt = DecisionTreeClassifier()
rc = RidgeClassifier()

In [88]:
dt.fit(x_train,y_train)

DecisionTreeClassifier()

In [89]:
rc.fit(x_train,y_train)

RidgeClassifier()

## 예측

In [90]:
dt_pred = dt.predict(x_test)

In [91]:
rc_pred = rc.predict(x_test)

## 평가

In [92]:
from sklearn.metrics import accuracy_score

In [93]:
accuracy_score(y_test,dt_pred)

0.7533632286995515

In [94]:
accuracy_score(y_test,rc_pred)

0.7443946188340808